@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf");
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  
  background-color: #DDDDDD;
}

#edit_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-left: 40px;
  margin-right: 40px;

  padding-top: 10px;
  padding-bottom: 30px;

  background-color: #FFFFFF;
}

#profile_edit_form {
  display: flex;
  flex-direction: column;

  width: 300px;

  margin-top: 50px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #DDDDDD;

  font-family: "Open Sans", sans-serif;
}

#profile_edit_form > * {
  margin-top: 10px;
}

#profile_edit_form > h1 {
  margin: 0;
  padding: 0;

  text-align: center;
}