/*   
    Form styling. Dedicating a separate file to form styles site-wide allows
    for a more unified design.
*/

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf");
}

form > input, button, textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
}

input {
  border-color: #999999;
  border-style: none;
  border-radius: 30px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  box-sizing: border-box;

  box-shadow: none;
  outline: 0;
}

button {
  border-radius: 15px;

  padding-top: 5px;
  padding-bottom: 5px;

  outline: 0;
}

button[type="submit"] {
  border-color: hsl(51, 61%, 43%);
  border-style: none;

  background-color: hsl(51, 61%, 73%);
}

button[type="submit"]:hover {
  background-color: hsl(51, 61%, 63%);
}

textarea {
  resize: none;

  border-color: #999999;
  border-style: none;
  border-radius: 30px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}