body {
  margin: 0;
  padding: 0;
}

#main_header {
  height: 50px;
  
  background-color: #333333;
}

#main_header > nav {
  height: 100%;
}

#header_nav_list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  margin: 0;
  padding: 0;

  padding-left: 20px;
  padding-right: 40px;

  overflow: visible;
}

#shove_to_right {
  display: flex;
}

#header_profile_link {
  margin-right: 20px;
}

#header_logout_button {
  background-color: transparent;
  border: none;
}