@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf");
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: inherit;
  height: inherit;

  margin: 0;
  padding: 0;
 
  background-image: url("../assets/images/autumn-lina-kivaka.jpg");
}

#company_logo {
  position: absolute;
  top: 0;
  left: 0;
}

#login_form_wrapper {
  background-color: hsla(5, 0%, 80%, 0.5);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 30px;
}

#login_form_title {
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
}

#login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

#login_form > input {
  width: 300px;
  margin-bottom: 10px;
}

#login_form > button {
  width: 150px;
}

#login_page_footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#footer_list {
  margin: 0;
  padding: 0;
}

#footer_list > li {
  font-family: "Open Sans", sans-serif;
  text-align: right;
  color: #000000;
  list-style: none;
}