@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf");
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  
  background-color: #DDDDDD;
}

#options_wrapper {
  margin-left: 40px;
  margin-right: 40px;

  background-color: #FFFFFF;
}

#options_menu {

}

#options_list {
  display: flex;
  flex-wrap: wrap;
}

#options_list > li {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 250px;

  margin: 20px;
  border-radius: 20px;
  background-color: #CCCCCC;
}

#options_list > li > a {
  display: block;

  font-family: "Open Sans", sans-serif;
  text-align: center;
}