@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf");
}

body {
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: #DDDDDD;
}

#reimbursement_page {
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 10px;
  
  background-color: #FFFFFF;
}

#reimbursement_data {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding-top: 20px;
}

#reimbursement_title {
  font-size: 3em;
}

#reimbursement_author {
  font-size: 1.5em;
}

#reimbursement_desc {
  font-size: 1em;
}

#reimbursement_cost {
  font-size: 1.5em;
}

#reimbursement_image {
  display: inline-block;

  max-width: 500px;
  max-height: 500px;
  margin-right: 20px;
}

#reimbursement_status {
  font-size: 1.5em;
}

#decision_container {
  font-family: "Open Sans", sans-serif;

  margin-left: 100px;
  margin-right: 100px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #DDDDDD;
}

#decision_header {
  margin: 0;
  padding: 0;

  font-size: 1.2em;
  text-align: center;
}