#reimbursement_form_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#reimbursement_submit_form {
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 100px;

  padding: 20px;

  background-color: #DDDDDD;
}

#reimbursement_submit_form {
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 100px;

  padding: 20px;

  background-color: #DDDDDD;
}

#reimbursement_submit_form > * {
  margin: 5px;
}