@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf");
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  
  background-color: #DDDDDD;
}

#profile_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin-left: 40px;
  margin-right: 40px;

  padding-top: 10px;
  padding-bottom: 30px;

  background-color: #FFFFFF;
}

#team_header {
  margin: 0;
  padding: 0;
  margin-top: 20px;

  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.employee_container {
  list-style: none;

  background-color: #EEEEEE;
  margin-top: 10px;
  
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 200px;
}

.employee_link {
  display: flex;
  justify-content: space-around;
  
  font-family: "Open Sans", sans-serif;
}

.employee_link > * {
  margin: 0;
  padding: 0;
}