@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf");
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  
  background-color: #DDDDDD;
}

#search_wrapper {
  margin-left: 40px;
  margin-right: 40px;

  padding-top: 10px;
  padding-bottom: 30px;

  background-color: #FFFFFF;
}

#search_form {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  padding: 10px;

  font-family: "Open Sans", sans-serif;
  text-align: center;

  background-color: #DDDDDD;
}

ul {
  margin: 0;
  padding: 0;
}

/* Results */

.employee_container {
  list-style: none;

  background-color: #EEEEEE;
  margin-top: 10px;
  
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 200px;
}

.employee_link {
  display: flex;
  justify-content: space-around;
  
  font-family: "Open Sans", sans-serif;
}

.employee_link > * {
  margin: 0;
  padding: 0;
}

.reimbursement_container {
  list-style: none;

  background-color: #EEEEEE;
  margin-top: 10px;
  
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.reimbursement_link {
  display: flex;
  justify-content: space-around;
  
  font-family: "Open Sans", sans-serif;
}

.reimbursement_link > * {
  margin: 0;
  padding: 0;
}